.Page {
  display:flex;
  flex-direction:column;
  justify-content: flex-start;
  align-items: center;
  gap :10px;
  .Headline{
    margin-top:1rem;
    font-size:1.5rem;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding:0.5rem;
  }
  display: flex;
  .Tools{
    .Pagination{
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding:10px;
    }
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    >*{
    margin:auto;
  }
  }
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  .Items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    .Item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      margin: auto;
    }
  }
}
