.Page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80vw;
    max-width: 800px;
    margin: auto;
    .Items {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: auto;
        .Item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin: auto;
        }
    }
}
